@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f3f5f5;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-dark {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  min-height: 100vh;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.disable-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.disable-scrollbar::-webkit-scrollbar {
  display: none;
}

header {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 32px;
  border-bottom: 1px solid lightgrey;
  background-color: #fff;
}
.logo {
  width: 150px;
}

footer {
  min-height: 80px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
  background-color: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.menu-shopping-cart {
  display: flex;
  justify-content: center;
  position: relative;
}

.dark-mode {
  background-color: black !important;
  color: white;
}

.restaurant-info-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 257px;
  background-color: #fff;
  padding: 10px 32px;
}

.restaurant-main-info {
  flex: 69%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.restaurant-main-info h1 {
  flex: 40%;
  margin-top: 40px;
}

.restaurant-main-info p {
  flex: 70%;
}

.restaurant-image-holder {
  flex: 30%;
  height: 100%;
}

.restaurant-image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  height: 100%;
}

.menu-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 70%;
  gap: 30px;
  margin-bottom: 30px;
}

.meal-category-holder {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.meal-category-holder h2 {
  margin: 20px 0;
}

.meals-information-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 19px;
}

.shopping-cart-holder {
  flex: 30%;
  height: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  min-height: 185px;
  width: 100%;
  margin-top: 30px;
  border-radius: 5px;
  margin-left: 30px;
}

.sc-btn {
  height: 50px;
  width: 95%;
  background-color: #00cdbd;
  border-radius: 5px;
  margin-top: 10px;
}

.sc-btn:disabled {
  background-color: #bac3c3;
  cursor: default;
}

.meal-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
  height: 160px;
  padding: 0 15px;
  cursor: pointer;
}

.meal-info-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-right: 15px;
}

.meal-info-holder p {
  flex-wrap: wrap;
  overflow-y: hidden;
  width: 100%;
  height: 40px;
}

.meal-info-holder > div > span:first-child {
  margin-right: 20px;
}

.meal-info-holder > div > span:last-child {
  color: orangered;
  font-weight: bold;
}

.meal-image {
  width: 133px;
  height: 133px;
  object-fit: cover;
  border-radius: 5px;
}

.top-half-cart-holder,
.bottom-half-cart-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.cart-items-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-price-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.cart-price-display p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.display-none {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
